.navbar {
  background-color: #f1f3ff;
  padding: 25px 0;

  .navbar-brand {
    width: 100px;
    height: 34px;
    background: #0d28a6;
  }

  .navbar-nav {
    gap: 32px;
    .nav-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #000000;

      .btn-success {
        padding: 8px 12px;
      }
    }
  }
}
